.d-flex {
    display: flex; 
  }

  app-s-sidepanel {
    width: 200px; 
    background-color: palevioletred;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
    height: 100vh; 
  }
  
  
  app-s-maincontent {
    flex-grow: 1; 
    background-color:white; 
    padding: 20px; 
  }