<div class="container">
    <div class="sidepanel">
        <ul>
            <li><a href="#" data-link="attendance"><i class="fas fa-user-check"></i> Attendance</a></li>
            <li><a href="#" data-link="attendance-history"><i class="fas fa-history"></i> Attendance History</a></li>
            <li><a href="#" data-link="status"><i class="fas fa-info-circle"></i> Status</a></li>
            <li><a href="#" data-link="project-status"><i class="fas fa-project-diagram"></i> Project Status</a></li>
            <li><a href="#" data-link="feedback-ratings"><i class="fas fa-star"></i> Feedback & Ratings</a></li>
        </ul>
    </div>

   