<div class="sidebar">
  <nav class="side-nav">
    <ul>
      <li><fa-icon [icon]="faUser" class="icon"></fa-icon> User Management</li>
      <li><fa-icon [icon]="faRoles" class="icon"></fa-icon> User Role Management</li>
      <li><fa-icon [icon]="faLock" class="icon"></fa-icon> Permission Management</li>
      <li>
        <a [routerLink]="['/project-management']">
       
        <li><fa-icon [icon]="faProject" class="icon"></fa-icon> Project setting Management</li>
        </a>
      </li>
    </ul>
  </nav>
</div>
